<div class="new-crud-containeer">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h4>Lista del crud</h4>
                <div class="table-responsive">
                  <table id="mytable" class="table table-bordred">
                    <thead>
                       <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                         <th>Email</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; let i=index;">
                      <td>
                        <div mat-card-avatar class="example-header-image">
                          <img mat-card-avatar [src]="user.avatar" alt="avatar">
                        </div>
                      </td>
                      <td>{{user.nombre}}</td>
                      <td>{{user.apellidos}}</td>
                      <td>{{user.email}}</td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button mat-button color="primary" (click)="edit(user)">Editar</button></p></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Delete" *ngIf="user.id"><button mat-button color="accent" (click)="delete(user.id)">Eliminar</button></p></td>
                    </tr>
                    </tbody>
                </table>
                        
                    </div>
                    
                </div>
            </div>
        </div>
     </mat-card>
    
</div>
