<div class="new-crud-containeer">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h4>Lista del crud</h4>
                <div class="table-responsive">
                  <table id="mytable" class="table table-bordred">
                    <thead>
                       <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Fecha Nacimiento</th>
                         <th>Sexo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let alumno of alumnos; let i=index;">
                      <td>{{alumno.nombre}}</td>
                      <td>{{alumno.apellidos}}</td>
                      <td>{{alumno.fechaNacimiento}}</td>
                      <td>{{alumno.sexo}}</td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button mat-button color="primary" (click)="edit(alumno)">Editar</button></p></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="Delete" *ngIf="alumno.alumnoId"><button mat-button color="accent" (click)="delete(alumno.alumnoId)">Eliminar</button></p></td>
                      <td><p data-placement="top" data-toggle="tooltip" title="add notas" *ngIf="alumno.alumnoId"><button mat-button color="accent" (click)="addNotas(alumno)">Ingresar Notas</button></p></td>
                    </tr>
                    </tbody>
                </table>
                        
                    </div>
                    
                </div>
            </div>
        </div>
     </mat-card>
    
</div>
