

<div class="reto-crud-container">
  <div class="reto-crud-header">
    <mat-toolbar>
      <span>Reto Crud</span>
      <span class="example-spacer"></span>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="font-size: 14px;">
        <!-- <mat-button-toggle value="listarPaginado" (click)="listarPaginado()">Listar Paginada</mat-button-toggle> -->
        <mat-button-toggle value="listar" (click)="listItem()">Lista de Alumnos</mat-button-toggle>
        <mat-button-toggle value="nuevoalumno" (click)="newItem()">Nuevo Alumno</mat-button-toggle>
        <mat-button-toggle value="nuevocurso" (click)="newCurso()">Nuevo Curso</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-toolbar>
  </div>
  <div class="reto-crud-body">
    <div class="container">
      <router-outlet></router-outlet>
      <!-- <app-list-crud></app-list-crud> -->
    </div>
  </div>
</div>

